mat-toolbar.mb-4
  .container
    .row
      .d-flex.justify-content-between.align-items-center
        .menu-toggle.mr-4
          button(mat-button, (click)="toggleNav.emit()") 
            mat-icon menu
        h1 GuessWith.me
