mat-toolbar.mb-4
  .container
    .row
      .col-12.d-flex.justify-content-between.align-items-center
        .d-flex
          h1 GuessWith.me
          a.ml-4.flex-center.join(mat-button, routerLink="/game/rooms") Rooms
          a.ml-1.flex-center.join(mat-button, routerLink="/game/playlists") Playlists
        div
          button.account.d-flex(*ngIf="user", mat-button, [matMenuTriggerFor]="menu") 
            span.mr-2 {{ user.spotifyDisplayName }}
            img([src]="user.spotifyImageUrl")
          mat-menu(#menu="matMenu")
            button(mat-menu-item, routerLink="/game/rooms") Rooms
            button(mat-menu-item, routerLink="/game/playlists") Playlists
            button(mat-menu-item, (click)="logOut()") Logout
