<mat-toolbar class="d-none d-sm-flex">
  <div class="d-flex justify-content-between align-items-center">
    <div class="menu-toggle mr-4">
      <button mat-button="mat-button" (click)="toggleNav.emit()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <h1>GuessWith.me</h1>
  </div>
</mat-toolbar>

<mat-toolbar class="d-sm-none">
  <div class="wrapper d-flex align-items-center justify-content-center">
    <div class="menu-toggle absolute">
      <button mat-button="mat-button" (click)="toggleNav.emit()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <p class="room-title m-0" *ngIf="room">{{ room.title }}</p>
  </div>
</mat-toolbar>
