<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="timer">
        <h3 class="m-0" *ngIf="timeLeft &lt;= 30">{{ timeLeft }}</h3>
      </div>
      <div class="guess-container" *ngIf="guess" [ngClass]="isPause ? 'hidden' : ''">
        <div class="artist">
          <div class="word-container" *ngFor="let guessWord of guess.artist">
            <span *ngIf="guessWord.correct">{{ guessWord.word }}</span
            ><span *ngIf="!guessWord.correct"><span *ngFor="let char of guessWord.word.split('')">_</span></span>
          </div>
        </div>
        <div>
          <div class="word-container" *ngFor="let guessWord of guess.title">
            <span *ngIf="guessWord.correct">{{ guessWord.word }}</span
            ><span *ngIf="!guessWord.correct"><span *ngFor="let char of guessWord.word.split('')">_</span></span>
          </div>
        </div>
      </div>
      <div class="guess-input">
        <form class="d-flex justify-content-center" [formGroup]="guessAttemptForm" (ngSubmit)="matchGuessInput()">
          <mat-form-field><input matInput="matInput" formControlName="currentGuess"/></mat-form-field>
        </form>
      </div>
      <div class="icon-container">
        <mat-icon class="wrong" [class.flashed]="flashRedBool == true">clear</mat-icon>
        <mat-icon class="correct" [class.flashed]="flashGreenBool == true"> done</mat-icon>
      </div>
    </div>
    <div class="col-md-6 mt-5">
      <app-active-players [activePlayers]="activePlayers"></app-active-players>
    </div>
  </div>
</div>
<app-previous-song [previousSong]="previousSong"></app-previous-song>
<router-outlet></router-outlet>
