.guess-container {
  padding: 20px 0;

  &.hidden {
    visibility: hidden;
  }

  div {
    text-align: center;

    .word-container {
      font-size: 30px;
      letter-spacing: 3px;
      text-transform: lowercase;
      display: inline-block;
      margin-right: 12px;
      color: white;

      &:last-child {
        margin-right: 0px;
      }

      .empty-letter {
        color: white;
      }
    }
  }
}

.guess-input {
  .mat-form-field-infix {
    width: 280px;
  }

  input {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    font-size: 14px;
    height: 35px;
    border: 0px;
    width: 300px;
    padding: 0px 12px;

    &:focus {
      outline: none;
    }
  }

  ::ng-deep .mat-form-field-underline {
    display: none;
  }
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;

  h3 {
    font-size: 6rem;
    text-align: center;
    color: white;
    font-weight: bold;
  }

  .mat-icon {
    font-size: 50px;
    height: 50px;
    width: 50px;
    color: #e3e3e3;
    transition: all 0.2s;
    color: rgba(255, 255, 255, 0.25);

    &.correct {
      margin-left: 20px;
    }

    &.wrong {
      margin-right: 20px;
    }

    &.flashed {
      &.correct {
        color: #0cff6f;
      }

      &.wrong {
        color: #ff6000;
      }
    }
  }
}

.previous-tracks {
  position: relative;
  z-index: 1;
}
