.guess-container {
  padding: 20px 0;

  &.hidden {
    visibility: hidden;
  }

  div {
    text-align: center;

    .word-container {
      font-size: 30px;
      letter-spacing: 3px;
      text-transform: lowercase;
      display: inline-block;
      margin-right: 12px;
      color: white;

      &:last-child {
        margin-right: 0px;
      }

      .empty-letter {
        color: white;
      }
    }
  }
}

.guess-input {
  .mat-form-field-infix {
    width: 280px;
  }

  input {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    font-size: 14px;
    height: 35px;
    border: 0px;
    width: 300px;
    padding: 0px 12px;

    &:focus {
      outline: none;
    }
  }

  ::ng-deep .mat-form-field-underline {
    display: none;
  }
}

.icon-container {
  display: flex;
  justify-content: space-evenly;

  .mat-icon {
    font-size: 100px;
    height: 100px;
    width: 100px;
    color: #e3e3e3;
    transition: all 0.2s;

    &.flashed {
      &.correct {
        color: green;
      }

      &.wrong {
        color: red;
      }
    }
  }
}

.timer {
  h3 {
    font-size: 6rem;
    text-align: center;
    color: white;
    font-weight: bold;
  }
}

.background {
  position: absolute;
  z-index: 0;

  width: 704.99px;
  height: 766px;

  left: 0px;
  top: 0px;
  width: 100%;

  background: #4673d0;
  background: linear-gradient(66deg, #0054ff 20%, #2adac6 100%);

  width: 704.99px;
  height: 1066px;
  width: 100%;
  overflow: hidden;
}

.previous-tracks {
  position: relative;
  z-index: 1;
}
