.background {
  position: absolute;
  z-index: 1;

  width: 704.99px;
  height: 766px;

  left: 0px;
  top: 0px;
  width: 100%;

  background: #4673d0;
  background: linear-gradient(66deg, #0054ff 20%, #2adac6 100%);

  width: 704.99px;
  height: 1066px;
  width: 100%;
  overflow: hidden;
}

.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: unset;
}

.mat-sidenav {
  width: 260px;
  padding: 0px !important;

  .top {
    padding: 1.5rem 1.5rem;
    background: whitesmoke;

    h3 {
      font-family: 'Pacifico';
    }

    .close {
      position: absolute;
      right: 1rem;
      top: 1rem;
    }

    img {
      width: 50px;
      height: 50px;
      border-radius: 20%;
      border: 1px solid white;
      display: block;
    }

    .level {
      font-size: 20px;
      font-style: italic;
    }
  }

  .nav {
    padding: 0.5rem;

    .link-container {
      button {
        width: 100%;
        text-align: left;
        height: 3rem;

        &.active {
          font-weight: bold;
          // background-color: mat-color($app-accent, 700, 0.4);
          // color: mat-color($app-accent);

          .mat-icon {
            // color: mat-color($app-accent);
          }
        }
      }
    }
  }
}
