.background {
  position: absolute;
  z-index: 1;

  width: 704.99px;
  height: 766px;

  left: 0px;
  top: 0px;
  width: 100%;

  background: #4673d0;
  background: linear-gradient(66deg, #0054ff 20%, #2adac6 100%);

  width: 704.99px;
  height: 1066px;
  width: 100%;
  overflow: hidden;
}
