<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav id="sidenav" mode="push" (keydown.escape)="close('escape')">
    <div class="top justify-content-between align-items-center" *ngIf="user">
      <div><img [src]="user.spotifyImageUrl" /></div>
      <h3 class="mb-0">{{ user.spotifyDisplayName }}</h3>
      <span class="username">{{ user.spotifyUsername }}</span
      ><button class="close" mat-button="" (click)="close('toggle button')">
        <mat-icon>chevron_left</mat-icon>
      </button>
    </div>
    <div class="nav">
      <div class="link-container">
        <button
          class="mb-1"
          mat-button="mat-button"
          routerLink="/game/rooms"
          routerLinkActive="active"
        >
          <mat-icon class="mr-4">meeting_room</mat-icon>Rooms
        </button>
      </div>
      <div class="link-container">
        <button
          class="mb-1"
          mat-button="mat-button"
          routerLink="/game/playlists"
          routerLinkActive="active"
        >
          <mat-icon class="mr-4">queue_music</mat-icon>Playlists
        </button>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-toolbar (toggleNav)="toggleNav()"></app-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
