.container
  .row
    .col-12
      .toolbar.d-flex.align-items-center.justify-content-between
        form.example-form
          mat-form-field.example-full-width
            input(
              matInput='', 
              placeholder='Filter rooms', 
              name="filter", [ngModel]="filterValue", 
              (ngModelChange)="onFilterChange($event)"
            )
        a.flex-center(
          mat-flat-button, color="primary", 
          routerLink="/game/rooms/create"
        ) Create room
    .col-12
      .row
        .col-12.col-md-6(*ngFor="let room of filteredGameRooms")
          mat-card.d-flex.mb-4(color="accent")
            div.d-flex
              .img-container
                .no-image-place([style.backgroundColor]="'#' + room.color")
                  span(*ngIf="room.title") {{ room.title.substring(0, 1) || '' }}
              .div.ml-3.d-flex
                div
                  h4.m-0 {{ room.title }}
                  p.m-0.text-muted {{ room.subtitle }}
                a.flex-center.join(mat-flat-button, color="primary", [routerLink]="'/game/rooms/'+room.value") Join

    .col-12
      .row
        .col-12.col-md-6(*ngFor="let room of filteredPlayerRooms")
          mat-card.d-flex.mb-4
            div.d-flex
              .img-container
                .no-image-place([style.backgroundColor]="'#' + room.color")
                  span(*ngIf="room.title") {{ room.title.substring(0, 1).toUpperCase() || '' }}
              .div.ml-3.d-flex
                div
                  h4.m-0 {{ room.title }}
                  p.m-0.text-muted {{ room.subtitle }}
                a.flex-center.join(mat-flat-button, color="primary", [routerLink]="'/game/rooms/' + room.id") Join

