.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: unset;
}

.mat-sidenav {
  width: 260px;
  padding: 0px !important;

  .top {
    padding: 1.5rem 1.5rem;
    background: whitesmoke;

    h3 {
      font-family: 'Pacifico';
    }

    .close {
      position: absolute;
      right: 1rem;
      top: 1rem;
    }

    img {
      width: 50px;
      height: 50px;
      border-radius: 20%;
      border: 1px solid white;
      display: block;
    }

    .level {
      font-size: 20px;
      font-style: italic;
    }
  }

  .nav {
    padding: 0.5rem;

    .link-container {
      button {
        width: 100%;
        text-align: left;
        height: 3rem;

        &.active {
          font-weight: bold;
        }
      }
    }
  }
}
