.img-container {
  display: flex;
  align-items: center;

  .no-image-place {
    height: 60px;
    width: 60px;
    border: 2px dashed #b4b4b4;
  }
}

.mat-flat-button {
  position: absolute;
  right: 16px;
  bottom: 16px;

  width: 91px;
  height: 37px;
  display: flex;
}
