$border-radius: 7px;

.background {
  position: absolute;
  width: 100%;
  height: 100%;
}

img {
  height: 20px;
  width: 20px;
  border-radius: 5px;
}

.player {
  background: white;
  border-radius: $border-radius;
  height: 40px;
  padding: 6px 11px;

  display: grid;
  grid-template-columns: 30px 1fr 50px 50px 50px;

  &.header {
    background: none;
    color: white;
    height: 20px;
    font-weight: bold;
    font-size: 12px;
  }

  .username {
    font-size: 14px;
  }
}

.wrong {
  color: #d2d2d2;
}

.correct {
  color: #29a3b5;
}
