<div class="head"></div>
<div class="player header center-vert mb-1" *ngFor="let player of activePlayers">
  <div></div>
  <div></div>
  <span class="text-center">Artist</span>
  <span class="text-center">Title</span>
  <span class="text-center">Points</span>
</div>
<div class="player center-vert mb-2" *ngFor="let player of activePlayers">
  <img *ngIf="player.avatar" [src]="player.avatar" />
  <b class="username">{{ player.spotifyUsername }}</b>
  <div class="center">
    <mat-icon class="correct" *ngIf="player.artistCorrect">done</mat-icon>
    <mat-icon class="wrong" *ngIf="!player.artistCorrect">clear</mat-icon>
  </div>
  <div class="center">
    <mat-icon class="correct" *ngIf="player.titleCorrect">done</mat-icon>
    <mat-icon class="wrong" *ngIf="!player.titleCorrect">clear</mat-icon>
  </div>
  <div class="center"><span class="text-center">3</span></div>
</div>
