.container
  .row
    .col.mt-4(*ngIf="previousSong")
      .answer.d-flex.p-3
        img(*ngIf="previousSong.album" src="{{previousSong.album.imageUrl}}")
        .info.ml-3.d-flex.flex-column.justify-content-center
          b {{ previousSong.name }}
          p.m-0(*ngFor="let artist of previousSong.artists")
            | {{ artist.name }} &nbsp;

